.DS_Store
videoCapture.xcodeproj/xcuserdata/aviramnetanel.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
videoCapture.xcodeproj/project.xcworkspace/xcuserdata/aviramnetanel.xcuserdatad/UserInterfaceState.xcuserstate
